$master-deep-orange: rgb(252, 184, 20); // 深橙

$master-light-orange: rgb(255, 201, 31); // 浅橙

$assist-deep-blue: rgb(0, 135 , 204); // 深蓝

$assist-light-blue: rgb(118, 209, 230); // 浅蓝

$assist-grey: rgb(51, 51, 51); // 字体&背景&边框灰